@import '../../../variables';

.login, .register {
  font-family: Calibri, 'Cabin', sans-serif;
  width: 600px;
  margin: 50px auto;
  text-align: center;


  .button{
    background: $main-back;
    color: white;
    
    &:hover:not(:disabled) {
        background: rgba(4, 80, 113, 0.75);
    }
  }

  .tasky{
    color: $main-back;
  }

  .logo{
    i{
      color: gray;
      font-size: 180px;
      margin-bottom: 25px;
      position: relative;
    }

    i.fa.fa-clock-o{
      position: absolute;
      font-size: 80px;
      color: rgb(4,80,113);
      top: 68%;
      left: 65%;
      background: #f3f3f4;
      border-radius: 50%;
      height: 0.8em;
      width: 0.8em;
      line-height: 66px;
    }
  }

  h2, p{
    color: gray;
  }

  p{
    margin-bottom: 15px;
  }

  h2{
    margin-bottom: 5px;
  }

  a{
    font-size: 15px;
    margin-top: 15px;
    color: cornflowerblue;
    text-decoration: underline;
  }

  @media (max-width: 1115px){
    width: 360px;
  }
}