@import '../../../variables';

.login, .register {
  font-family: Calibri, 'Cabin', sans-serif;
  width: 600px;
  margin: 50px auto;
  text-align: center;

  .tasky{
    color: $main-back;
  }

  .logo{
    i{
      color: gray;
      font-size: 180px;
      margin-bottom: 25px;
      position: relative;
    }

    i.fa.fa-clock-o{
      position: absolute;
      font-size: 80px;
      color: black;
      top: 58%;
      left: 59%;
    }
  }

  h2, p{
    color: gray;
  }

  p{
    margin-bottom: 15px;
  }

  h2{
    margin-bottom: 5px;
  }

  a{
    font-size: 15px;
    margin-top: 15px;
    color: cornflowerblue;
    text-decoration: underline;
  }

  @media (max-width: 1115px){
    width: 360px;
  }
}