@import '../../../variables';

.register {
  // background: $basic-background;
  width: 600px;
  margin: 50px auto;
  text-align: center;

  .logo i{
    color: gray;
    font-size: 200px;
  }

  h2{
    margin-bottom: 15px;
    color: gray;
  }

  a{
    font-size: 15px;
    margin-top: 15px;
    color: cornflowerblue;
    text-decoration: underline;
  }
}