.report {
  margin-top: 40px;
  height: 100vh;
  overflow: auto;
  width: auto;
  float: left;

  tr{
    display: block;
  }

  tbody tr{
    border-bottom: 1px solid rgba(67.9%, 67.9%, 67.9%, 0.886);
    padding: 5px;

    &:first-of-type{
      border-top: 1px solid rgba(67.9%, 67.9%, 67.9%, 0.886);
    }
  }

   tr.weekend{
      background: #1c84c6;
    }

  th, td{
    width: 150px;
    min-height: 30px;
    text-align: center;
  }

  .fixed-header{
    position: absolute;
    top: 66px;

    span{
      text-align: center;
      width: 150px;
      display: inline-block;
    }
  }

  @media (max-width: 1115px){
    height: 400px;

    table{
      min-width: 320px;
    }

    .fixed-header{
      width: 100%;
      // top: 52px;

      span{
        width: 30%;
      }
    }
  }
}

.total-cont{
  margin-top: 40px;
  float: left;
  margin-left: 60px;
  width: 280px;

  .total{
    border: 3px solid #1c84c6;
    border-radius: 5px;
  }

  .header{
    padding: 6px;
    height: 40px;
    line-height: 40px;
    background: #1c84c6;
    color: white;
  }

  .content{
    min-height: 100px;
    background: white;

    .summary{
      padding: 2px;
      margin-top: 3px;
    }
  }
}