<div class="dashboard">
	<sarsha-spinner name="app-spinner">
		<spinner></spinner>
	</sarsha-spinner>
	<div ng-if="$ctrl.projects">
		<div ng-if="$ctrl.projects.length === 0" class="no-tasks">
			<span>Opps... You don't have any tasks! </span><br>
			<span><a href="https://www.elal.com"  class="claude">Claude</a> knows about it?...</span>
		</div>

		<div ng-if="$ctrl.projects.length !== 0">
			<div>
				<span>Tasks:</span>
			</div>
			<project-list projects="$ctrl.projects" on-play="$ctrl.onPlay($event)" on-stop="$ctrl.onStop($event)" on-delete="$ctrl.remove($event)" on-edit="$ctrl.edit($event)">
			</project-list>
		</div>
	</div>
</div>