@import '../variables';
@import 'https://fonts.googleapis.com/css?family=Cabin';

@mixin placeholder(){
  input::-webkit-input-placeholder{
    @content
  }
}

html{
  background-color: #f3f3f4;
}

*{
  margin: 0;
  padding: 0;
}

.content{
  padding: 10px;
}

.app{
  font-size: 18px;
  position: relative;
  font-family: Calibri, 'Cabin', sans-serif;

  .app-content{
    margin-top: $toolbar-h;
    margin-left: $nav-w;

    @media (max-width: 1115px){
      margin-left: 0;
    }
  }
}

.button{
  font-family: Calibri, 'Cabin', sans-serif;
  padding-left:25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.3em;
  border: 1px solid rgba(89.7%, 85.9%, 90.2%, 1);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  margin: 3px;
  font-size: 15px;
  font-weight: 900;
  background:none;
  transition: all 200ms;

  &:hover:not(:disabled) {
    background: $main-back;
    border: 1px solid rgba(89.7%, 79.9%, 90.2%, 1);
    color: white;
  }

  &:disabled{
    cursor: no-drop;
  }

  i.material-icons{
    position: relative;
    top: 7px;
  }
}

@include placeholder(){
  font-family: Calibri, 'Cabin', sans-serif;
}
input,
input[type="text"],
input[type="password"]{
  padding: 10px;
  outline: none;
  line-height: 15px;
  font-size: 15px;
  border: 1px solid rgba(89.7%, 85.9%, 90.2%, 1);
  border-radius: 0.3em;
  transition: all 100ms;

  &:focus{
    border-color: $main-back;
  }
}

ul{
  list-style: none;
  padding: 0;
}

a{      
  text-decoration: none;
      color: black;
}

.right{
    float: right;
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }