@import '../variables';

@import 'https://fonts.googleapis.com/css?family=Cabin';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.app{
  position: relative;
  font-family: 'Cabin', sans-serif;

  .content{
    margin-top: 60px;
  }
}

button{
  font-family: 'Cabin', sans-serif;
  padding: 8px;
  border: none;
  background: none;
  -webkit-user-select: none; /* for button */
}
