.toolbar{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 60px;
  background: #f8fff9;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #737373;

  .links, .user{
    float: right;
  }

  .user{
    margin-right: 20px;
  }

  .logo{
    float: left;
  }
}