@import '../../variables';

.toolbar{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: $toolbar-h;
  background: $secondary-back;
  line-height: $toolbar-h;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: $border;
  border-left: $border;
  margin-left: $nav-w;
  z-index: 10;

  .menu-btn{
    float: left;
    margin-right: 15px;
    display: none;

    i.material-icons{
      position: relative;
      top: 7px;
    }
  }

  .links, .user{
    float: right;
  }

  .links{
    i.material-icons{
      font-size: 15px;
      position: relative;
      top: 3px;
    }
  }

  .user{
    margin-right: 20px;
  }

  .logo{
    float: left;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.15em;
  }

  @media (max-width: 1115px){
    margin-left: 0;

    .user{
      display: none;
    }

    .menu-btn{
      display: initial;
    }
  }
}