@import '../../variables';

.toolbar{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: $toolbar-h;
  background: $secondary-back;
  line-height: $toolbar-h;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: $border;
  margin-left: $nav-w;

  .links, .user{
    float: right;
  }

  .links{
    i.material-icons{
      font-size: 15px;
      position: relative;
      top: 3px;
    }
  }

  .user{
    margin-right: 20px;
  }

  .logo{
    float: left;
  }
}