<aside class="aside" ng-class="{'show': $ctrl.showNav}">
	<div class="logo">
    <i class="fa fa-calendar">
			<i class="fa fa-clock-o"></i>
		</i>
  </div>
	<div class="content">
		<ul>
			<li><a ui-sref="app.dashboard" ng-click="$ctrl.showNav = false;"><i class="material-icons">home</i> Home</a></li>
			<li><a ui-sref="app.newproject" ng-click="$ctrl.showNav = false;"><i class="material-icons">add_box</i> Create Task</a></li>
			<!--<li><a ui-sref="app.newproject" ng-click="$ctrl.showNav = false;">Manage Tasks</a></li>-->
			<li><a ui-sref="app.report" ng-click="$ctrl.showNav = false;"><i class="material-icons">view_list</i> Report</a></li>
		</ul>
	</div>
</aside>
<div class="overlay" ng-class="{'show': $ctrl.showNav}" ng-click="$ctrl.showNav = false;"></div>