<aside class="aside" ng-class="{'show': $ctrl.showNav}">
	<div class="logo">
		<i class="material-icons">today</i>
	</div>
	<div class="content">
		<ul>
			<li><i class="material-icons">home</i><a ui-sref="app.dashboard" ng-click="$ctrl.showNav = false;">Home</a></li>
			<li><i class="material-icons">add_box</i><a ui-sref="app.newproject" ng-click="$ctrl.showNav = false;">Create Task</a></li>
			<!--<li><a ui-sref="app.newproject" ng-click="$ctrl.showNav = false;">Manage Tasks</a></li>-->
			<li><i class="material-icons">view_list</i><a ui-sref="app.report" ng-click="$ctrl.showNav = false;">Report</a></li>
		</ul>
	</div>
</aside>
<div class="overlay" ng-class="{'show': $ctrl.showNav}" ng-click="$ctrl.showNav = false;"></div>