@import '../../variables';

.aside{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-w;
  border-right: $border;

  .logo{
    border-bottom: $border;
    height: $toolbar-h;
    color: $main-back;
    text-align: center;

    i{
      line-height: 60px;
      font-size: 50px;
    }
  }

  ul{
    margin-left: 20px;
    margin-top: 10px;
  }
}